<div id="<%= dom_id user %>">
  <%= render Card.new do |component| %>
    <%= component.with_body do %>
      <%= link_to user, class: "flex flex-col gap-2 hover:text-black text-wrap overflow-hidden",data: { turbo_action: :replace } do %>
        <p class="flex flex-row gap-2">
          <strong class="block font-medium">Employee:</strong>
          <%= user.employee_id %>
        </p>

        <p class="flex flex-row gap-2">
          <strong class="block font-medium">Name:</strong>
          <%= user.name %>
        </p>

        <p class="flex flex-row gap-2">
          <strong class="block font-medium">Email:</strong>
          <%= user.email %>
        </p>

        <p class="flex flex-row gap-2">
          <strong class="block font-medium">Date of birth:</strong>
          <%= user.date_of_birth %>
        </p>

        <p class="flex flex-row gap-2">
          <strong class="block font-medium">Role:</strong>
          <%= user.role %>
        </p>

        <p class="flex flex-row gap-2">
          <strong class="block font-medium">Start date:</strong>
          <%= user.start_date %>
        </p>

        <p class="flex flex-row gap-2">
          <strong class="block font-medium">End date:</strong>
          <%= user.end_date %>
        </p>

        <p class="flex flex-row gap-2">
          <strong class="block font-medium">department:</strong>
          <%= user.department.name %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
