<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= user.employee_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= user.date_of_birth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= user.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= user.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Departament:</strong>
    <%= user.departament_id %>
  </p>

</div>
